<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div id="content">
    {{{content}}}
</div>

<script src="bundle/javascripts/app.js"></script>

<script>
    var React = require('react')
    var CommentBox = require('myComments');
    var CommentBoxElement = React.createElement(
            CommentBox, 
            {url: "comments", pollInterval: 2000});
    React.renderComponent(
      CommentBoxElement,
      document.getElementById('content')
    );
</script>
