/*
 * https://color.adobe.com/Corporate-Orange-Blue-color-theme-121815/edit/?copy=true&base=1&rule=Custom&selected=2&name=Copy%20of%20Corporate%20Orange%20%20Blue&mode=rgb&rgbvalues=0.188235,0.258824,0.411765,0.568627,0.745098,0.831373,0.85098,0.909804,0.960784,1,1,1,0.94902,0.380392,0.00392157&swatchOrder=0,1,2,3,4
 */
 
body {
    background-color: #FFFFFF;
}

.navbar {
    width: 100%;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    margin-bottom: 5px;
    text-align: right;
}

#in {
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    overflow: auto;
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
    padding: 10px 55px 15px 55px;
}

#out {
    position: fixed;
    top: 60px;
    right: 0;
    left: 50%;
    bottom: 0;
    overflow: auto;
    font-size: 16px;
    line-height: 1.5em;
    padding: 40px 55px 15px 55px;
    color: #193441;
    font-family: "Lucida Sans", sans-serif;
    
}

#in .editor-toolbar {
    margin: 10px 0 10px 0;
    background-color: #FFFFFF;
    text-align: right;
}

#in .editor-toolbar-empty {
    margin: 10px 0 10px 0;
    background-color: #FFFFFF;
    padding: 14px 0 13px 0;
}

#in .editor-toolbar button {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  border: none;
  font-family: "Lucida Sans";
  color: #ffffff;
  font-size: 12px;
  background: #F26101;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

#in .editor-toolbar button:hover {
  text-decoration: none;
  background: #F28D17;  
}

.button-appear-enter {
  opacity: 0.01;
  transition: opacity 5.5s ease-in;
}

.button-appear-enter.button-appear-active {
  opacity: 1;
}

#out h1 {
	border-bottom: 5px solid #f0f1e7;
	color: #91BED4;
	font-family: "Marvel", sans-serif;
	font-size: 54px;
	font-weight: normal;
	line-height: 48px;
	margin: 0 0 26px;
	padding: 0 0 24px;
	text-transform: uppercase;
}

#out h2 {
	color: #91BED4;
	font-family: "Marvel", sans-serif;
	font-size: 28px;
	font-weight: normal;
	line-height: 30px;
	margin: 0 0 18px;
	padding: 12px 0 0;
	text-transform: uppercase;
}

#out p {
	color: #304269;
	font-family: "Lucida Sans", sans-serif;
	font-size: 16px;
	line-height: 24px;
	margin: 0 0 24px;
}

/* ------------------------------------------
  CodeMirror
---------------------------------------------*/
.CodeMirror {
  font-family:Menlo, monospace;
  font-size:16px;
  line-height:1.4em;
  -webkit-font-smoothing:subpixel-antialiased;
  background-color:  #FFFFFF;
  height: 100%;
}

.code .CodeMirror-scroll {
  min-height:100%;
  }

.CodeMirror-scroll {
  /* Set scrolling behaviour here */
  overflow: auto;
  }

/* PADDING */
.CodeMirror-scrollbar-filler {
  background-color: white; /* The little square between H and V scrollbars */
}

/* GUTTER */
.CodeMirror-linenumbers {}
.CodeMirror-linenumber {
  padding:0 3px 0 5px;
  min-width:20px;
  text-align:right;
  color:#d4d7d9;
  }

.cm-s-rewrite .CodeMirror-gutter {
  border-right:1px solid #eff3f5;
  padding-right:5px;
  margin-right:15px;
  min-width:2.5em;
  }

/* CURSOR */
.CodeMirror div.CodeMirror-cursor {
  border-left: 1px solid #3D494E;
  z-index: 3;
  }
.cm-s-rewrite .CodeMirror-cursor { border-left: 2px solid #667880; }
.cm-s-rewrite .CodeMirror-lines { margin:0; }

/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid #e0e7eb;
  }
.CodeMirror.cm-keymap-fat-cursor div.CodeMirror-cursor {
  width: auto;
  border: 0;
  background: #90bb74;
  z-index: 1;
}
/* Can style cursor different in overwrite (non-insert) mode */
.CodeMirror div.CodeMirror-cursor.CodeMirror-overwrite {}
.cm-tab { display: inline-block; }

/* rewrite theme based on prose.io
 -------------------- */
.cm-s-rewrite                    { color:#304269; }
.cm-s-rewrite span.cm-header     { color:#91BED4; font-weight:bold;}
.cm-s-rewrite span.cm-variable-2 { color:#B64926; }

.cm-s-rewrite span.cm-meta       { color:#516066; }
.cm-s-rewrite span.cm-hr         { color:#516066;}

.cm-s-rewrite span.cm-comment    { color:#91AA9D; }
.cm-s-rewrite span.cm-qualifier  { color:#91AA9D; }

.cm-s-rewrite span.cm-number     { color:#197987; }
.cm-s-rewrite span.cm-variable   { color:#197987; }
.cm-s-rewrite span.cm-builtin    { color:#197987; }
.cm-s-rewrite span.cm-link       { color:#197987; text-decoration:underline;}
.cm-s-rewrite span.cm-tag        { color:#197987; }

.cm-s-rewrite span.cm-string     { color:#48abb9; }
.cm-s-rewrite span.cm-string-2   { color:#48abb9; }
.cm-s-rewrite span.cm-quote      { color:#48abb9;}
.cm-s-rewrite span.cm-atom       { color:#48abb9; }

.cm-s-rewrite span.cm-property   { color:#82a367; }
.cm-s-rewrite span.cm-operator   { color:#82a367; }
.cm-s-rewrite span.cm-variable-3 { color:#82a367; }

.cm-s-rewrite span.cm-attribute  { color:#90bb74; }
.cm-s-rewrite span.cm-def        { color:#90bb74; }

.cm-s-rewrite span.cm-keyword    { color:#ec6c45; }
.cm-s-rewrite span.cm-bracket    { color:#ec6c45; }

.cm-s-rewrite span.cm-error      { color:#e45346; }

.cm-s-rewrite span.cm-em         { color: #F26101; font-style:italic; }
.cm-s-rewrite span.cm-strong     { color: #F26101; font-weight:bold; }

/* STOP */
/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. 
 
   From prose.io
 */

.CodeMirror-scroll {
  /* 30px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -30px; margin-right: -30px;
  padding-bottom: 30px; padding-right: 30px;
  height: 100%;
  outline: none; /* Prevent dragging from highlighting the element */
  position: relative;
}
.CodeMirror-sizer {
  position: relative;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actuall scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler {
  position: absolute;
  z-index: 6;
  display: none;
}
.CodeMirror-vscrollbar {
  right: 0; top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.CodeMirror-hscrollbar {
  bottom: 0; left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
.CodeMirror-scrollbar-filler {
  right: 0; bottom: 0;
  z-index: 6;
}

.CodeMirror-gutters {
  position: absolute; left: 0; top: 0;
  height: 100%;
  padding-bottom: 30px;
  z-index: 3;
}
.CodeMirror-gutter {
  height: 100%;
  padding-bottom: 30px;
  margin-bottom: -32px;
  display: inline-block;
  /* Hack to make IE7 behave */
  *zoom:1;
  *display:inline;
}
.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}

.CodeMirror-lines {
  cursor: text;
}
.CodeMirror pre {
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  z-index: 2;
  position: relative;
  overflow: visible;
}
.CodeMirror-wrap pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}
.CodeMirror-linebackground {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: 0;
}

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  overflow: auto;
}

.CodeMirror-widget {
  display: inline-block;
}

.CodeMirror-wrap .CodeMirror-scroll {
  overflow-x: hidden;
}

.CodeMirror-measure {
  position: absolute;
  width: 100%; height: 0px;
  overflow: hidden;
  visibility: hidden;
}
.CodeMirror-measure pre { position: static; }

.CodeMirror div.CodeMirror-cursor {
  position: absolute;
  visibility: hidden;
  border-right: none;
  width: 0;
}
.CodeMirror-focused div.CodeMirror-cursor {
  visibility: visible;
}

.CodeMirror-selected { background: #d9d9d9; }
.CodeMirror-focused .CodeMirror-selected { background: #d7d4f0; }

.cm-searching {
  background: #ffa;
  background: rgba(255, 255, 0, .4);
}

/* IE7 hack to prevent it from returning funny offsetTops on the spans */
.CodeMirror span { *vertical-align: text-bottom; }

@media print {
  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursor {
    visibility: hidden;
  }
}

/** End Codemirror **/
